
# Configuração básica para Single Page Applications
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Serve arquivos e diretórios existentes diretamente
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Encaminhar todas as outras solicitações para index.html
  RewriteRule ^ index.html [L]
</IfModule>

# Definir tipos MIME para arquivos JavaScript
<IfModule mod_mime.c>
  AddType application/javascript .js
  AddType text/css .css
</IfModule>

# Permitir acesso cross-origin a fontes
<IfModule mod_headers.c>
  <FilesMatch "\.(ttf|otf|eot|woff|woff2)$">
    Header set Access-Control-Allow-Origin "*"
  </FilesMatch>
</IfModule>
